In [4]:
import pandas as pd

import numpy as np

index = pd.MultiIndex.from_tuples([(i,j) for i in ['AAPL', 'MSFT'] for j in ['Open', 'Close']])
df = pd.DataFrame(np.random.rand(5,4), columns=index)
df

       AAPL                MSFT
       Open     Close      Open     Close
0  0.258695  0.590866  0.624226  0.915973
1  0.382763  0.895916  0.840822  0.700579
2  0.630398  0.872003  0.078634  0.516347
3  0.144018  0.603303  0.503698  0.078715
4  0.741006  0.738938  0.743776  0.320502